<div class="container">
    
    <h3 class="text-center mt-3" style="color: burlywood; background-color: grey; padding: 20px;">
       Admin can access following features
    </h3>
    <ul class="list-group-infos mt-3">
        
        <li class="list-group-item mt-3" ><a class="navbar-brand" style=" color: black; " routerLink="/addmovie">Add movie Shows</a></li>
        <li class="list-group-item mt-3" style="color: black; ">
            <a class="navbar-brand black" style=" color: black; " routerLink="/allshows">All movies</a>
        </li>
    </ul>
   
    
</div>