<div class="container-xl " style="z-index: 100;">
  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="position:sticky ; top:0;">
    <a class="navbar-brand" routerLink="/">NMS Cinemas</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/signup">Sign up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login" >Log in</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" routerLink="/admin">Admin</a>
        </li>
        
        <!-- <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li> -->
      </ul>
     
    </div>
  </nav>
  <div style="float: right ;position:sticky ; top:0;"> 

    <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-camera-reels" viewBox="0 0 16 16" routerLink="/cart">
      <path d="M6 3a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM1 3a2 2 0 1 0 4 0 2 2 0 0 0-4 0z"/>
      <path d="M9 6h.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 7.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 16H2a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h7zm6 8.73V7.27l-3.5 1.555v4.35l3.5 1.556zM1 8v6a1 1 0 0 0 1 1h7.5a1 1 0 0 0 1-1V8a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1z"/>
      <path d="M9 6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM7 3a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"/>
    </svg>
<div><a routerLink="/cart" style="text-decoration:none ; color: black;">Cart</a></div>
    
  </div>
  <h2 class="text-center mt-3" style="clear: both;">NMS Cinemas book your movie tickets here </h2>
  <router-outlet></router-outlet>
</div>